.special{
    background-color: rgb(211, 211, 211);
}

.yokosen{
    border-left: 4mm solid rgb(52, 82, 255);
}

html{
    font-size: 18px;
}

.delete-marker {
    list-style: none;
}

.bottom-border{
    border-bottom-width: 15px;
    padding-bottom: 15px;
    border-bottom: 4mm dotted rgb(52, 255, 228)
}

.padding-bottom{
    padding-bottom: 35px;
}