.special{
    background-color: rgb(231, 231, 231);
}

.yokosen{
    border-left: 4mm solid rgb(52, 82, 255);
}

.bottom{
    text-decoration: underline 1.5mm rgb(252, 255, 52);
}

html{
    font-size: 18px;
}

.delete-marker {
    list-style: none;
}

.bottom-border{
    border-bottom-width: 15px;
    padding-bottom: 15px;
    border-bottom: 4mm dotted rgb(52, 255, 228)
}

.padding-bottom{
    padding-bottom: 35px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
  }
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2.5;
  }
  
  .box2 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2.5;
    grid-row-end: 3.5;
  }
  
  /* .box3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  } */